<flynt-component name="BlockPostHeader" {{ not post.thumbnail ? 'data-thumbnail="false"' }}>
  <div class="blog-template-wrapper" data-size="full" data-theme="dark">
    <div class="blog-hero-title-wrap w-layout-vflex" data-size="medium" data-align="center">
      {% if post.category %}
          <a class="sidebar-category" href="{{ post.category.link|e('esc_url') }}">
            <span class="visuallyHidden">{{ labels.postedIn|e }}</span>
            <small>{{ post.category }}</small>
          </a>
        {% endif %}
        <span class="readingtime">
          <small>{{ labels.readingTime|replace({'%d': post.content|readingtime})|e }}</small>
        </span>
      <h1 class="h1">{{ post.title }}</h1>
      <p class="meta">
        <a class="author" href="{{ post.author.link|e('esc_url') }}">
          {% if post.author.avatar %}
            <img class="avatar lazyload"
              src="{{ placeholderImage(48, 48) }}"
              data-src="{{ post.author.avatar({size: 96}) }}"
              width="48"
              height="48"
              alt="{{ post.author.name|e }}">
          {% endif %}
          <span class="visuallyHidden">{{ labels.postedBy|e }}</span>
          <small>{{ post.author.name }}</small>
        </a>

      </p>
    </div>
  </div>
  {% if post.thumbnail %}
    {{ renderComponent('BlockImage', {image: post.thumbnail, options: {size: 'full'}, noComponentSpacing: true}) }}
  {% endif %}
</flynt-component>
