<!-- Updated BlockHero Component Template -->
<flynt-component name="BlockHero" class="componentSpacing"}>
  <div class="hero">
    <div class="container">
      <div class="contentWrapper">
        <div class="textContent">
          <h1 class="headline">
            {% if headline %}
              {{ headline|e }}
            {% endif %}
            {% if highlightText %}
              <span class="highlight">{{ highlightText|e }}</span>
            {% endif %}
          </h1>
          {% if subheadline %}
            <p class="subheadline">{{ subheadline|e }}</p>
          {% endif %}
        </div>
        <div class="buttonWrapper">
          {% if primaryButtonGroup.label and primaryButtonGroup.link %}
            <a class="button" href="{{ primaryButtonGroup.link.url|e }}" {{ primaryButtonGroup.link.target ? 'target="' ~ primaryButtonGroup.link.target ~ '"' }}>
              {{ primaryButtonGroup.label|e }}
            </a>
          {% endif %}
          {% if secondaryButtonGroup.label and secondaryButtonGroup.link %}
            <a class="button button--outlined" href="{{ secondaryButtonGroup.link.url|e }}" {{ secondaryButtonGroup.link.target ? 'target="' ~ secondaryButtonGroup.link.target ~ '"' }}>
              {{ secondaryButtonGroup.label|e }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</flynt-component>