<div class="container">
    <div class="footer-row">
        <div class="footer-col">
            <h3><a href="{{ site.url }}/locations/houston/">Houston</a></h3>
            <p><strong>Texan Mosquito Systems</strong><br>7915 B Wood Duck Park<br>Humble, TX 77396<br><a href="tel:713-344-1984">(713) 344-1984</a><br><a href="mailto:info@texanmosquitosystems.com">info@texanmosquitosystems.com</a></p>
            <h3><a href="{{ site.url }}/locations/houston/">Manvel</a></h3>
            <p><strong>Texan Mosquito Systems</strong><br>3223 Summerland Dr<br>Manvel, TX 77578<br><a href="tel:(832) 241-2255">(832) 241-2255</a><br><a href="mailto:info@texanmosquitosystems.com">info@texanmosquitosystems.com</a></p>
            <h3><a href="{{ site.url }}/locations/houston/">Rosharon</a></h3>
            <p><strong>Texan Mosquito Systems</strong><br>6806 Trailview Ct<br>Rosharon, TX 77583<br><a href="tel:(281) 962-4362">(281) 962-4362</a><br><a href="mailto:info@texanmosquitosystems.com">info@texanmosquitosystems.com</a></p>
            <h3><a href="{{ site.url }}/locations/mosquito-solutions-dallas/">Dallas</a></h3>
            <p><strong>Texan Mosquito Systems</strong><br>2695 Villa Creek Dr Ste. B126,<br>Dallas, TX 75234<br><a href="tel:214-390-6131">(214) 390-6131</a><br><a href="mailto:info@texanmosquitosystems.com">info@texanmosquitosystems.com</a></p>
        </div>
        <div class="footer-col">
            <h3>Our Hours</h3>
            <p><strong>7915 B Wood Duck &amp; 3223 Sumerland:</strong></p>
            <div class="footer-time-table">
                <div>Sunday</div>
                <div>7:00 AM–12:00 PM</div>
                <div>Monday</div>
                <div>7:00 AM–7:00 PM</div>
                <div>Tuesday</div>
                <div>7:00 AM–7:00 PM</div>
                <div>Wednesday</div>
                <div>7:00 AM–7:00 PM</div>
                <div>Thursday</div>
                <div>7:00 AM–7:00 PM</div>
                <div>Friday</div>
                <div>7:00 AM–7:00 PM</div>
                <div>Saturday</div>
                <div>7:00 AM–12:00 PM</div>
            </div>
            <p><strong><a href="{{ site.url }}/locations/houston/">VIEW MAP &amp; HOURS</a></strong></p>
            <p><strong>686 Trailview &amp; 2695 Villa Creek DR:</strong></p>
            <div class="footer-time-table">
                <div>Sunday</div>
                <div>11:00 AM–2:00 PM</div>
                <div>Monday</div>
                <div>7:30 AM–6:00 PM</div>
                <div>Tuesday</div>
                <div>7:30 AM–6:00 PM</div>
                <div>Wednesday</div>
                <div>7:30 AM–6:00 PM</div>
                <div>Thursday</div>
                <div>7:30 AM–6:00 PM</div>
                <div>Friday</div>
                <div>7:30 AM–6:00 PM</div>
                <div>Saturday</div>
                <div>7:30 AM–6:00 PM</div>
            </div>
            <p><strong><a href="{{ site.url }}/locations/mosquito-solutions-dallas/">VIEW MAP &amp; HOURS</a></strong></p>
        </div>
        <div class="footer-col">
            <h3>Proudly Serving</h3>
            <p>Dallas, TX, USA<br>Dallas County, TX, USA<br>Dallas, TX 75234, US</p>
            <p>Rosharon, TX, USA<br>Brazoria County, TX, USA<br>Rosharon, TX 77583, USA</p>
            <p>Manvel, TX, USA<br>Brazoria County, TX, USA<br>Manvel, TX 77578, USA</p>
            <p>Humble, TX, USA<br>Harris County, TX, USA<br>77396, Humble, TX, USA</p>
            <h3>Our Services</h3>
            <p>Pest control service<br>Mosquito Misting Systems</p>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; {{ 'now'|date('Y') }} Texan Mosquito Systems All Rights Reserved. | Optimized by<a href="http://actualseomedia.com/"> Actual SEO Media</a> | <a href="{{ site.url }}/html-sitemap">Sitemap</a> | <a href="{{ site.url }}/privacy-policy/">Privacy Policy</a>
    </div>
</div>